body{
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}

.navbar .navbar-nav .nav-item  a{
    color: blue;
}
.navbar .navbar-nav .nav-item:hover > a,.navbar .navbar-nav .nav-item:link > a{
    color: blue;
}

.navbar .navbar-toggler{
    border-color: #0000ff;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.register{
    padding-right: 25px;
    padding-left: 25px;
    font-size: small;
    font-weight: 500;
    color: black;
}
.nav-item{
    padding-right: 5px;
    padding-left: 5px;
}
.home .container-large{
    padding-top: 100px;
    margin-left: 30px;
    margin-right: 100px;
    padding-bottom: 130px;
}
.start{
    display: flex;
    background-color: #0e2047;
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 25px;
}
.help{
    text-align: center;
    margin: auto 6px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.startbtn{
    height: 32px;
    border-radius: 25px;
    padding-left: 16px;
    padding-right: 16px;
    margin: auto 9px;
    color: white;
    text-align: center;
    font-size: 14px;
    border: #0e2047;
    background-color: #4f6bdb;  
}
.choose{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
    font-family:  sans-serif;
    font-size: 80px;
    color: white;
    font: bold;
}
.home .email{
    height: 50px;
    color: #e6e6e6;
    background-color: rgb(15, 15, 15);
    margin-left: 15px;
    border: black;
    font-size: small;
}
.home .email::placeholder{
    color: #e6e6e6;
}
.home .email:focus{
    background-color: black;
}
.getstd{
    height: 50px;
    color: #e6e6e6;
    background-color:rgba(88, 85, 85, 0.267);
    border: black;
    font-size: small;
}
.nocredit{
    font-size: 14px;
}
.wanttochoose{
    font-size: 17px;
    font-family: sans-serif;
    color: #838383;
    margin-right: 0;
    padding: auto;
    font-weight: bold;
}
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    z-index: 999;
    width: 45px;
    height: 45px;
    justify-content: center;
    border: none; 
    outline: none; 
    background-color: #0d54b8;
    color: white;
    cursor: pointer; 
    padding: 0px;
    padding-bottom: 6px;
    border-radius: 50%; 
    font-size: 20px; 
}     
#myBtn:hover {
    background-color: rgb(21, 19, 102); /* Add a dark-grey background on hover */
}
/* features */
.features{
    padding-top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 100px;
}
.card{
    background-color: black;
    color: blanchedalmond;
}
.card-title{
    border-radius: 100%;
    background-color:rgb(49, 47, 47);;
    width: 75px;
    height: 75px;
    color:blanchedalmond;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-items: center;
    place-items: center;
}
.card-titl{
    color: rgb(190, 190, 190);
    font-size: 25px;
    font-weight: 500;
}
.card-text{
    color: grey;
    font-weight: 500;
    font-size: 20px;
}
.features .btn{
    background-color: rgb(49, 47, 47);
    color: white;
    font-size: small;
    width: 100px;
    height:40px;
    border-radius: 5%;
}
/* career */
.career{
    padding-top: 80px;
}
.carousel{
    margin-top: 50px;
    background-color:rgb(49, 47, 47);
    justify-content: space-around;
    border-radius: 30px;
    margin-bottom: 80px;
}
.carousel-inner{
    height: 450px;
}
.carousel-caption{
    color: #fff;
    top: 50%;
}
.slide p{
    color:gray;
    font-size: 20px;
  }
.button{
    background-color:rgb(82, 82, 194);
    border-radius:5px;
    width: 100px;
    height: 30px;
  }
.slide h1{
    padding-top: 80px;
    font-size: xxx-large;
  }
.growthandmoney{
    color: white;
    justify-content: center;
    padding-left: 220px;
    margin-bottom: 180px;
}
#heading{
    padding-left: 14px;
    margin-right: 230px;
    font-size: 44px;
    font-weight: 700;
    font: bold;
}
.border-b{
    border-bottom: 1px solid #dee7ee;
}
.growthandmoney ol{
    font-size:25px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.growthandmoney ol li p{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0;
}
.career3{
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 60px;
}
.career3 .check{
    padding: 20px;
}
.career3 .card1{
    background-color: rgb(49, 47, 47);
    border-radius: 5px;
}
.career3 .card1:hover{  
    transform: scale(1.1); 
}
.career3 .card-title1{
    background-color: rgb(238, 96, 144);
    color: white;
    border-radius: 5px;    
    text-align: center;
    font-weight: 400;
    font-size:15px;
    width: max-content;
    padding-left: 8px;
    padding-right: 8px;
}
.career3 .card-text1{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}
.career3 .btn1{
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 5px;
    background-color: rgb(38, 155, 201);
}
.career3 .btn1:hover{
    background-color: rgb(23, 124, 192);
}
/* Projects*/
.projects{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-top: 70px;
}
.projects .container{
    margin: 0px;
    padding: 0px;
}
.projects .part1{
    padding: 20px;
    padding-left: 50px;
}
.projects .part1 h1{
    color: white;
    font: bold;
    font-size: 50px;
    padding-bottom: 13px;
}
.projects .part1 h5{
    color: gray;
    font-size: 20px;
    padding-bottom: 35px;
    line-height: 30px;
}
.projects .part1 h2{
    color: white;
    font-size: 23px;
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.projects .part1 .row .btn{
    background-color: rgb(201, 109, 125) ;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}
.projects .part2 .pcard{
    background-color: #161616;
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.projects .part3 .pcard{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 10px;
}
.projects  .pcard .pcard-title{
    color: rgb(10, 72, 131);
    font-size: 25px;
    font-weight: 600;
    font: bold;
    margin: 0;
}
.projects  .pcard .pcard-body .row{
    margin-left: 2px;
    font-size: 20px;
    font-weight: 500;
    font: bold;
    padding: 0;
}
.projects .part2 .pcard .pcard-body .pcard-subtitle{
    color: white;
    margin-top: 40px;
}
.projects .part2 .pcard .pcard-body .num{
    font-size: 70px;
    margin: 0px;
    padding-left: 2px;
    padding-right: 4px;
    color: white;
}
.projects .part3 .pcard .pcard-body .pcard-subtitle{
    color: black;
    margin-top: 40px;
}
.projects .part3 .pcard .pcard-body .num{
    font-size: 70px;
    margin: 0px;
    padding: 0px;
    color: black;
}
.projects .part2 button{
    color: white;
    background-color: black;
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 8px;
}
.projects .part3 button{
    color: white;
    background-color: rgb(90, 73, 189);
    margin-top: 30px;
    margin-bottom: 5px;
    padding: 8px;
}
.projects .pcard .pcard-body h4{
    color: gray;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* FreeTutorial */
.freetutorials{
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
}

.freetutorials .card:hover{
    transform: scale(1.05); 
    background-color: rgb(58, 55, 55); 
    border-radius: 10px;
}
.freetutorials .free2{
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;
    background-color: rgb(43, 43, 43);
    margin-bottom: 150px;
}
.freetutorials .free2 .row{
    display: flex;
    flex-wrap: wrap;
}
.freetutorials h2{ 
    font-size: 20px;  
    color: white; 
    text-align: left; 
    border: none; 
    outline: none;
}
.freetutorials h3{ 
    font-size: 18px; 
    color: gray; 
    text-align: left;
}
 
.freetutorials .child1{
    padding-top: 20px; 
    padding-left:5px; 
    padding-right: 5px; 
    padding-bottom: 0px; 
    flex: 1 1; 
    margin: 40px; 
}
.freetutorials .child2{
    margin: 42px;
    width: auto; 
    flex: 2 1; 
    padding-top: 60px;

}
.freetutorials .grandchild{
    display: flex;
}

.freetutorials .button1{ 
    background-color: #42A5F5;
     color: white; 
     height: 43px;
    font-size: 12pt; 
    width: 120px; 
    border-radius: 7px; 
    border: none; 
    outline: 0; 
    opacity: 1;
}
.freetutorials .button2{
    background-color: #3a57b7; 
    color: white; 
    height: 42px; 
    font-size: 12pt; 
    border-radius: 0px 7px 7px 0px; 
    border: none; 
    outline: 0; 
    opacity: 1;
}
.freetutorials .button3{
    background-color: #42A5F5; 
    color: white; 
    height: 45px; 
    font-size: 12pt;
    width: 120px; 
    float: left; 
    margin-top: 50px; 
    border-radius: 7px; 
    border: none; 
    outline: 0; 
    opacity: 1;
    margin-bottom: 15px;
}
.freetutorials .button1:hover{ 
    opacity: 0.7;
}
.freetutorials .button2:hover{ 
    opacity: 0.7;
}
.freetutorials .button3:hover{ 
    opacity: 0.7;
}
.freetutorials .input{ 
    height: 42px; 
    font-size: 13pt; 
    border-radius: 7px 0px 0px 7px; 
    border: none; 
    background-color: #616161; 
    outline: none;
}
.freetutorials ::placeholder{
    color: white;
}
/* Footer */
footer{
    height: 400px;
    color: rgb(216, 209, 209);
    position: relative;
}
footer h6{
    color: whitesmoke;
}
footer p{
    color: whitesmoke;
}
footer .container-large{
    margin: 25px;
}
footer .feed{
    height: 50px;
    color: #e6e6e6;
    background-color: rgb(15, 15, 15);
    border: black;
    font-size: small;
}
footer .feed::placeholder{
    color: #e6e6e6;
}
footer .feed:focus{
    background-color: black;
}
@media screen and (max-width: 1300px) {
    .home .container-large{
        margin-right: 0px;
    }
    .growthandmoney{
        padding-left: 0px;
    }
    #heading{
        margin-right: 0px;
    }
    .freetutorials .image{
        width: 220px;
        height: 100px;
    }
    .carousel-inner{
        height: 630px;
    }
    
} 
@media screen and (max-width: 998px){
    .freetutorials .child2{
        padding-top: 0px;
        margin-top: 0;
    }
    .freetutorials .button3{
        margin-top: 10px;
    }
}
@media screen and (max-width: 950px){
    .freetutorials .image{
        width: 100px;
        height: 80px;
    }
    .slide h1{
        padding-top: 0px;
    }
    .carousel-inner{
        height: 470px;
    }
    
}
@media screen and (max-width: 800px){
    .choose{
        font-size: 40px;
    }
    .career3 .cbd{
        width: 50px;
        height: 20px;
    }
    .freetutorials .image{
        width: 100px;
        height: 80px;
    }
    .freetutorials .free2{
        margin-left: 10px;
        margin-right: 10px;
    }
    .slide h1{
        padding-top: 20px;
        font-size: 30px;
    }
    .slide p{
        font-size: 15px;
    }
    
} 
@media screen and (max-width: 765px){
    .freetutorials .image{
        width: 250px;
        height: 150px;
    }
    .card{
        margin-top: 15px;
    }  
    .features{
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 40px;
        padding-bottom: 80px;
    }
} 
@media screen and (max-width: 575px){
    .home .container-large{
        padding-top: 100px;
        margin-left: 0px;
        margin-right: 0px;
        padding-bottom: 0px;
    }
    .getstd{
        margin-left: 15px;
    }
    .freetutorials .image{
        width: 150px;
        height: 100px;
    }
    .freetutorials{
        padding-left: 0px;
        padding-right: 0px;
    }
    .slide h1{
        padding-top: 20px;
        font-size: 20px;
    }
    .slide p{
        font-size: 15px;
    }
    .carousel-inner{
        height: 595px;
    }
    .growthandmoney #heading{
        padding-left: 8px;
        margin-right: 10px;
        font-size: 20px;
    }
    .growthandmoney ol{
        font-size:15px;
    }
    .start{
        width: 180px;
        height: 35px;
    }
    .help{
        margin: auto 3px;
        font-size: 8px;
    }
    .startbtn{
        height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin: auto 6px;
        font-size: 8px;  
        padding-bottom: 15px;
    }
    .navbar{
        padding-left: 4px;
        padding-right: 4px;
    }
    .features{
        padding-left: 0px;
        padding-right: 0px;
    }
    .career{
        padding-left: 0px;
        padding-right: 0px;
    }
    .freetutorials .child1{
        margin: 20px;
    }
    .freetutorials .child2{
        margin: 20px;
    }
    .projects .part1 .row .btn{
        margin-top: 15px;
        margin-left: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
}  
